*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    font-weight: 300;
    
}

body, html, main{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}
main{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
}
/* start */
nav{
    display: grid;
    grid-template-columns: 20% 20% 20% 30% 10%;
    /* grid-template-rows: 100%; */
    align-items: center;
    justify-items: center;
    
    margin-top: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* gap: 50px; */
    /* padding: 30px; */
    /* font-size: 12px; */

}
nav h1{
    display: flex;
    border-left: 2px solid black;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    /* background-color: red; */
}

nav h1:hover{
background-color: #e6e6e6;
}
nav h3{
    /* font-family: Monument Extended; */
    font-weight: 900;
    font-size: 5vh;
    text-align: center;
    padding: 20px;
    letter-spacing: -3px;
    position: relative;
}
nav h3::after{
    content:"©";
    /* font-family: Gilroy-light; */
    font-size: 1.5vw;
    position: absolute;
    top: 10%;
    right: 0%;
}
nav h3::before{
    content:"model managment";
    /* font-family: Gilroy-light; */
    font-size: .8vw;
    /* font-weight: 900; */
    position: absolute;
    letter-spacing: 1px; 
    bottom:20%;
    right: 10%;
}

#center{
    width: 100%;
    height: 800px;
    /* background-color: aquamarine; */
    padding: 7vw;
    padding-bottom: 3vw;
    padding-top: 3vw;
    position: relative;
    /* margin-left: 120px; */
    /* margin-right: 100px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#content{
    width: 100%;
    height: 100%;
    /* background-color: rgb(169, 169, 249); */
    /* overflow: hidden; */
    position: relative;
    
}
#content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
} 

#overlay{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    color: white;
    /* font-size: ; */
    font-size: 3vh;

    background-color:rgba(0,0,0,.154);
    backdrop-filter: blur(5px);

}

#overlay1 h1{
    /* font-family: Monument Extended; */
    color: #f8f8f8;
    font-size: 3vw;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    font-weight: 900;

    
}

#circle{
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 30px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 900;

}

#scroll{
    width: 100%;
    height: 40vh;
    /* background-color: rebeccapurple; */
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    /* position: top; */
}

#container{
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
    display: inline-block;
    align-content: center;
    /* justify-items:; */

    animation-name: scroll-anime;
    animation-duration: 8s;
    /* animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#container img{
    /* display: none; */
    height: 70%;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-left: 4vh;
    margin-right: 4vh;
}

@keyframes scroll-anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabets{
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 7vw;
    padding-right: 7vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* margin-bottom: 30px; */
}
#alphabets h1{
    font-size: 1.1vw;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.2s;
    font-style: italic;

}
#alphabets h1:hover{
    border: 1px solid black;
    cursor: pointer;
    /* cursor: pointer; */
}
#alphabets h2{
    font-size: 1.5vw;
    text-decoration: underline;
    font-style: italic;

}

#vogue{
    width: 100%;
    height: 90vh;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 40% 30% 30%;
    overflow: hidden;
    margin-top: 5vw;
}
#vogue1{
    /* background-color: red; */
    grid-column: 1;
    grid-row: 1/4;
    /* overflow: hidden; */
}
#vogue1 img{
    width: 100%;
    /* height: 100%; */
    /* display: cover; */
    padding-left: 7vw;
    padding-right: 2vw;
    /* overflow: hidden; */


}
#vogue2{
    /* background-color: blue;    */
    grid-column: 2;
    grid-row: 1/3;
    overflow: hidden;

}
#vogue2 img{
    width: 100%;
    /* height: 100%; */
    /* display: cover; */
    padding-left: 3vw;
    padding-right: 7vw;
    /* overflow: hidden; */


}
#vogue3{
    /* background-color: green; */
    grid-column: 2;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7vw;
    padding-left: 3vw;
}
#vogue3 h1{
    font-size: 1.5vw;
    font-weight: 500;
}
#vogue3 p{
    font-size: 1vw;
}

#shot{
    width: 100%;
    height: 5vh;
    /* background-color: red; */
    padding-left: 7vw;
    text-align: left;
}
#shot h1{
    /* font-family: ; */
    /* font-family: Monument Extended; */
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: 900;
    /* padding: 3vw; */
}

#japan{
    width: 100%;
    height: 47vw;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 50% 25% 25%;
    padding-left: 7vw;
    padding-right: 7vw;

}
#japan1{
    /* background-color: rgb(253, 111, 111); */
    grid-column:1 ;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#japan1 img{
    width: 80%;
    padding: 3vw;
    animation-name: arrow-anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;

}

@keyframes arrow-anime{
    from{
        rotate: 0;
    }
    to{
        rotate: 360deg;
    }
}
#japan2{
    /* background-color: rgb(111, 111, 250); */
    grid-column: 1;
    grid-row: 3/4;
    text-align: left;
}
#japan2 h1{
    padding-top: 3vw;
    font-size: 1.5vw;
    font-weight: bolder;
    /* justify-content: baseline; */
}

#japan3{
    /* background-color: rgb(126, 251, 126); */
    grid-column:2 ;
    grid-row: 1/4;
    overflow: hidden;
}
#japan3 img{
    width: 100%;
    padding: 3vw;
    margin-left: 4vw;

}

#japan1 #japan-arrow{
    height: 100px;
    width: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    font-weight: 100;
}

#space{
    width: 100%;
    height: 50vw;
}

#memo{
    width: 100%;
    height: 40vw;
    padding-left: 7vw;
    padding-right: 7vw;
    margin-top: 7vw;
    overflow: hidden;
    /* background-color: red; */

}
#memo video{
    width: 100%;
    /* background-color: red; */

}

#updates h1{
    font-size: 4vw;
    font-weight: 900;
    /* font-family: Monument Extended; */
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
}

#scrollH1{
    width: 100%;
    height: 5vw;
    /* background-color: rebeccapurple; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    /* position: top; */
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: 3vw;

}

#scroll1{
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
    display: inline-block;
    align-content: center;

    animation-name: scroll-anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #f8f8f8;
    
}

#scroll1 H1{
    /* font-family: Monument Extended; */
    font-style: italic;
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 3vw;
    -webkit-text-stroke:2px black;
    /* letter-spacing: .3vw; */

}

@keyframes scroll-anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#menu{
    width: 100%;
    height: 36 vw;
    /* background-color: bisque; */
    margin-bottom: 5vw;
    /* border-bottom: 2px solid black; */
    padding: 7vw;
    padding-top: 0vw;
    padding-bottom: 4vw;
    text-align: left;

}
.menu-s{
    /* background-color: aquamarine; */
    width: 100%;
    height: 25%;
    border-top: 2px solid black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1vw;
    padding: 30px;
    position: relative;
}

.menu-s:nth-child(4){
    border-bottom: 2px solid black;
}
.menu-s img{
    height: 7vw;
    width: 7vw;
    /* width: 100%; */
    border-radius: 50%;
    position: absolute;
    left: 10%;   
    opacity: 0;
    transition: all ease 0.3s;
    object-position: top;
    object-fit: cover;
}
.menu-s:hover img{
    /* width: 7vw; */
    opacity: 1;
    left: 25%;   

}
#menu-s-1{
    width: 50%;
}

/* footer */
footer{
    width: 100%;
    height: 17vw;
    /* background-color: grey; */
    margin-top: 5vw;
    display: grid;
    grid-template-columns: 25% 15% 20% 40%;
    grid-template-rows: 30% 30% 40%;
}
#foot1{
    /* background-color: red; */
    grid-column:1;
    grid-row: 1/4;
    align-items: start;
    border-top: 2px solid black;

}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.foot h1{
    font-size: 1.5vw;
    /* padding: 2vw; */
}
#foot1 h3{
    /* font-family: Monument Extended; */
    font-weight: 900;
    font-size: 5vh;
    text-align: center;
    padding: 20px;
    letter-spacing: -3px;
    position: relative;
}
#foot1 h3::after{
    content:"©";
    /* font-family: Gilroy-light; */
    font-size: 1.5vw;
    position: absolute;
    top: 20%;
    right:0%;
}
#foot1 h3::before{
    content:"model managment";
    /* font-family: Gilroy-light; */
    font-size: .8vw;
    font-weight: 900;
    position: absolute;
    letter-spacing: 1px; 
    bottom:20%;
    right: 10%;
}
#foot2{
    /* background-color: blue; */
    grid-column: 2;
    grid-row:1/4;
    align-items: start;
    border-top: 2px solid black;
}
#foot2 h1{
    top:10%;

}
#foot3{
    /* background-color: green; */
    grid-column: 3;
    grid-row:1/4;
    align-items: start;
    border-top: 2px solid black;
    border-left: 2px solid black;

}
#foot4{
    /* background-color: yellow; */
    grid-column: 4;
    grid-row:1;
    justify-content: start;
    border-top: 2px solid black;
    border-left: 2px solid black;

}
#foot5{
    /* background-color: pink; */
    grid-column: 4;
    grid-row:3/4;
    /* text-align: left; */
    justify-content: start;
    border-left: 2px solid black;

}
#foot6{
    /* background-color: purple; */
    font-size: 2vw;
    grid-column: 4;
    grid-row:2;
    justify-content: start;
    border-top: 2px solid black;
    border-left: 2px solid black;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 2vw;
}

#footshoe{
    width: 100%;
    height: 4vw;
    border-top: 2px solid black;
}


